<div class="box" cdkDrag>Draggable Box</div>

<div cdkDragHandle cdkDropListGroup class="list-container">
    <div cdkDropList class="box-1"
        [cdkDropListData]="listA"
        (cdkDropListDropped)="dropItem($event)">
        <div cdkDrag *ngFor="let item of listA">
            <p class="list-a-item">{{item}}</p>
        </div>
    </div>

    <div cdkDropList class="box-2"
        [cdkDropListData]="listB"
        (cdkDropListDropped)="dropItem($event)">
        <div cdkDrag *ngFor="let item of listB">
            <p class="list-b-item">{{item}}</p>
        </div>
    </div>
</div>